body{
    background-image: linear-gradient(to right,#84c7e9, #1481e7);
}
h1{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    left: 50px;
    top: 10px;
    position: absolute;
}
.container{
    position: absolute;
    top: 45px;
    right: 20%;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
button{
    border-radius: 20px;
    border-style: solid;
    background-color: transparent;
    border-color: aliceblue;
    color: aliceblue;
    width: 180px;
    height: 40px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
    background-color: rgba(227, 236, 243, 0.473);
}
#profle{
    display: block;
}
hr{
    position: absolute;
    top: 100px;
    width: 100%;
}
#img1{
    position: absolute;
    width: 220px;
    height: 220px;
    top: 40px;
    left: 135px;
    border-radius: 90%;
    border-style: solid;
    border-color: aliceblue;
}

.profile{
    padding: 290px 250px;
    background-color: transparent;
    border-style: solid;
    border-color: aliceblue;
    position: absolute;
    top: 140px;
    left: 40px;
    border-radius: 60px;
}
h2{
    position: absolute;
    bottom: 230px;
    left: 170px;
    color: aliceblue;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    position: absolute;
    bottom: 190px;
    left: 120px;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    position: absolute;
    bottom: 90px;
    left: 140px;
    color: aliceblue;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h5{
    position: absolute;
    bottom: 0px;
    left: 220px;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ass, #acts, #pro, #more, #tb1, #ss1, #fb1, #ccs1,#move1, #loop1, #loopy1{
    padding: 290px 350px;
    background-color: transparent;
    border-style: solid;
    border-color: aliceblue;
    position: absolute;
    top: 140px;
    right: 30px;
    border-radius: 60px;
    display: none;
}
h6{
    position: absolute;
    top: -135px;
    left: 100px;
    color: aliceblue;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hr2{
    position: absolute;
    top: 70px;
    width: 100%;
    left: 0px;
}
#assx, #actsx, #prox, #tb1x, #ss1x, #fb1x, #ccs1x, #move1x, #morex, #loop1x, #loopy1x{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 20px;
    top: 10px;
    font-size: 20px;
    border-radius: 90%;
}

#tb{
    position: absolute;
    width: 360px;
    height: 70px;
    font-size: 40px;
    text-decoration: underline;
    border: none;
    top: 100px;
    left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
#ss{
    position: absolute;
    width: 360px;
    height: 70px;
    font-size: 40px;
    text-decoration: underline;
    border: none;
    top: 160px;
    left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

#fb{
    position: absolute;
    width: 360px;
    height: 70px;
    font-size: 40px;
    text-decoration: underline;
    border: none;
    top: 220px;
    left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
#ccs{
    position: absolute;
    width: 360px;
    height: 70px;
    font-size: 40px;
    text-decoration: underline;
    border: none;
    top: 280px;
    left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
#move{
    position: absolute;
    width: 360px;
    height: 70px;
    font-size: 40px;
    text-decoration: underline;
    border: none;
    top: 340px;
    left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
#loop{
    position: absolute;
    width: 360px;
    height: 70px;
    font-size: 40px;
    text-decoration: underline;
    border: none;
    top: 400px;
    left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
#loopy{
    position: absolute;
    width: 360px;
    height: 70px;
    font-size: 40px;
    text-decoration: underline;
    border: none;
    top: 460px;
    left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
#tb:hover{
    font-size: 45px;
    background-color: transparent;
}

#ss:hover{
    font-size: 45px;
    background-color: transparent;
}

#fb:hover{
    font-size: 45px;
    background-color: transparent;
}

#ccs:hover{
    font-size: 45px;
    background-color: transparent;
}
#move:hover{
    font-size: 45px;
    background-color: transparent;
}
#loop:hover{
    font-size: 45px;
    background-color: transparent;
}
#loopy:hover{
    font-size: 45px;
    background-color: transparent;
}
#kweb{
    position: absolute;
    width: 360px;
    height: 70px;
    font-size: 40px;
    text-decoration: underline;
    border: none;
    top: 100px;
    left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
#kweb:hover{
    font-size: 45px;
    background-color: transparent;
}
li{
    position: absolute;
    font-size: 50px;
    color: rgb(0, 0, 0);
    top: 0px;
    left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#abc{
    background-color: rgba(240, 248, 255, 0.601);
    overflow-y: scroll;
    height: 200px;
    position: absolute;
    top: 80.2px;
    left: -.5px;    
    padding: 150.5px 342px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
p{
    position: absolute;
    left: 150px;
    top: 100px;
    font-size: 27px;
    font-family:'Courier New', Courier, monospace;
}
#run1{
    position: absolute;
    top: 40%;
    left: 40%;   
}
@media all and (max-width: 394px){
    body{
        width: 393px;
        background: #65c9ff;
        left: 0%;
        background-size: cover;
    }

    h1{
        position: absolute;
        color: aliceblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        left: 60px;
        top: 9px;
        
    }

    .container{
        position: absolute;
        top: 170px;
        left:20%;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        width: 550px;
       
    }
    button{
        border-radius: 20px;
        border-style: solid;
        background-color: transparent;
        border-color: aliceblue;
        color: aliceblue;
        width: 95px;
        height: 30px;
        font-size: 12px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    hr{
        position: absolute;
        top: 150px;
        width: 393px;
    }
    .profile{
        padding: 40px 190px;
        background-color: transparent;
        border-style: solid;
        border-color: aliceblue;
        position: absolute;
        top: 70px;
        left: 5px;
        border-radius: 20px;
    }
    #img1{
        position: absolute;
        width: 70px;
        height: 70px;
        top: 5px;
        left: 5px;
        border-radius: 90%;
        border-style: solid;
        border-color: aliceblue;
    }
    h2{
        position: absolute;
       top: 30px;
        left: 90px;
        color: aliceblue;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h3{
        position: absolute;
        top: 8px;
        left: 90px;
        color: aliceblue;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h4{
        position: absolute;
        top: 7px;
        right: -100px;
        color: aliceblue;
        font-size: 13px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    h5{
        position: absolute;
        top: 14px;
        left: 180px;
        color: aliceblue;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #ass, #acts, #pro, #more, #tb1, #ss1, #fb1, #ccs1,#move1, #loop1, #loopy1{
        padding: 210px 130px;
        background-color: transparent;
        border-style: solid;
        border-color: aliceblue;
        position: absolute;
        top: 220px;
        left: 20px;
        border-radius: 20px;
        display: none;
    }
    h6{
        position: absolute;
        top: -40px;
        left: 100px;
        color: aliceblue;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #hr2{
        position: absolute;
        top: 30px;
        width: 100%;
        left: 0px;
    }
    #assx, #actsx, #prox, #tb1x, #ss1x, #fb1x, #ccs1x, #move1x, #morex, #loop1x, #loopyx{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 10px;
        top: 5px;
        font-size: 20px;
        border-radius: 90%;
    }
    #abc{
        background-color: rgba(240, 248, 255, 0.601);
        overflow-y: scroll;
       padding: 80px 171px;
        position: absolute;
        top: 40px;
        left: -.5px;    
        border-bottom-left-radius: 19px;
        border-bottom-right-radius: 19px;
    }
    li{
        position: absolute;
        font-size: 30px;
        color: rgb(0, 0, 0);
        top: 10px;
        left: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p{
        position: absolute;
        left: 40px;
        top: 80px;
        font-size: 20px;
        font-family:'Courier New', Courier, monospace;
    }



    #tb{
        position: absolute;
        width: 360px;
        height: 70px;
        font-size: 30px;
        text-decoration: underline;
        border: none;
        top: 50px;
        left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
    #ss{
        position: absolute;
        width: 360px;
        height: 70px;
        font-size: 30px;
        text-decoration: underline;
        border: none;
        top: 100px;
        left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
    
    #fb{
        position: absolute;
        width: 360px;
        height: 70px;
        font-size: 30px;
        text-decoration: underline;
        border: none;
        top: 150px;
        left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
    #ccs{
        position: absolute;
        width: 360px;
        height: 70px;
        font-size: 30px;
        text-decoration: underline;
        border: none;
        top: 200px;
        left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
    #move{
        position: absolute;
        width: 360px;
        height: 70px;
        font-size: 30px;
        text-decoration: underline;
        border: none;
        top: 250px;
        left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
    #loop{
        position: absolute;
        width: 360px;
        height: 70px;
        font-size: 30px;
        text-decoration: underline;
        border: none;
        top: 300px;
        left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
    #loopy{
        position: absolute;
        width: 360px;
        height: 70px;
        font-size: 30px;
        text-decoration: underline;
        border: none;
        top: 350px;
        left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
    #kweb{
        position: absolute;
        width: 360px;
        height: 70px;
        font-size: 30px;
        text-decoration: underline;
        border: none;
        top: 50px;
        left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }
}


