<html>

<head>

     <title> Creating Table in HTML</title>

</head>
<body>
     <h1><b> Creating Table in HTML </b></h1></br>

     <table border=1 cellpadding=0 cellspacing=0 width="890" height="580">
          <tr>
               <td rowspan=12 >&nbsp;</td> 
               <td colspan=10 >&nbsp;</td> 
          </tr> 
          <tr>
               <td colspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td>
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td>
               <td rowspan=2>&nbsp;</td>
               <td colspan=2>&nbsp;</td> 
                 
          </tr> 
          
          <tr>
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td>
               <td colspan=3>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td> 
               
          </tr>
          <tr>
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td>
               <td rowspan=1>&nbsp;</td> 
               <td rowspan=1>&nbsp;</td>
               <td colspan="3" rowspan="7">&nbsp;</td>
                  
          </tr>
           <tr>
               <td rowspan=1>&nbsp;</td>
               <td rowspan=8>&nbsp;</td>
               <td rowspan=8 colspan=2>&nbsp;</td>
               <td rowspan=1>&nbsp;</td>
               <td rowspan=1>&nbsp;</td>
          </tr>
          <tr>
               <td rowspan=1>&nbsp;</td>
               <td rowspan=4 colspan=2>&nbsp;</td>
          </tr>
          <tr>
               <td colspan=1>&nbsp;</td>
          </tr>
          <tr>
               <td rowspan=1>&nbsp;</td>
          </tr>
           <tr>
               <td rowspan=1>&nbsp;</td> 
          </tr>
          <tr>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
            <tr>
               <td rowspan=1>&nbsp;</td> 
              <td rowspan=2 colspan=5>&nbsp;</td>
      
          </tr>
           <tr>
               <td rowspan=1>&nbsp;</td>
          </tr>
      </table>
      

</body>
</html>




