#border{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-style: solid;
    border-color: black;
    padding: 310px 300px;
    position: absolute;
    top: 50px;
    left: 350px;
    background-color: #fff;
}
body{
    background-color: black;
}
img{
    position:absolute;
    width: 70px;
    height: 70px;
    background-color: black;    
    top: 50px;
    left: -200px;
}
#bthp{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    padding: 15px 40px;
    color: rgb(235, 231, 231);
    border-radius: 60px;
}
#bthp:hover{
    background-color: rgba(120, 177, 229, 0.54);
}
h1{
    position: absolute;
    top: 5%;
    left: 7%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}